body {
    padding: 0;
    margin: 0;
}

/*Styling for universal header*/


.universal-header {
    padding: 0;
}

header {
    background-color: black;
    height: 80px;
    opacity: .5;
    -webkit-transition: opacity 1.5s;
    transition: opacity 1.5s;
}

header nav {
    text-align: right;
    line-height: 80px;
}

header nav a {
    margin-left: 3%;
    color: white;
    font-size: 1.4em;
    font-family: 'Droid Sans', sans-serif;
    -webkit-transition: color .5s;
    transition: color .5s;
}

header nav a:hover {
    text-decoration: none;
    color: darkgrey;
}

header nav a:last-child {
    margin-right: 2%;
}

header nav a img {
    float: left;
    height: 50px;
    margin-top: 15px;
    margin-left: 2%;
}



/*Styling for universal footer*/


.footer-div {
    height: 300px;
    background-color: black;
    margin-top: 75px;
}

.footer-div:nth-child(2) {
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding-top: 75px;
}


#contact-list, #social-list {
    text-align: center;
    list-style-type: none;
    margin-top: 50px;

}

#contact-list li {
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
    font-family: 'Rubik', sans-serif;
}

#social-list li {
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
}

.footer-font {
    color: yellow;
}

#email-form-wrapper {
    text-align: center;
}

#email-form-wrapper p {
    color: white;
    font-size: 2em;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Rubik', sans-serif;
}

#email-form-wrapper input {
    border: none;
    border-bottom: 2px solid white;
    background-color: black;
    width: 90%;
    font-size: 1.8em;
    outline: none;
    color: white;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

#email-form-wrapper input:hover {
    color: black;
    background-color: white;
    opacity: .8;
}

#email-form-wrapper input:focus {
    opacity: 1;
    background-color: white;
    color: black;
}

#email-form-wrapper button {
    margin-top: 8px;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 4em;
    visibility: hidden;
    opacity: .7;
    font-family: 'Rubik', sans-serif;
}

#email-form-wrapper button:hover {
    opacity: 1;
}

#email-form-wrapper button:active {
    position: relative;
    top: 2px;
}
/*Welcome Page Styling*/


.welcome-wrapper-one {
    height: 600px;
    background-image: url("https://static.pexels.com/photos/115001/pexels-photo-115001.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.welcome-wrapper-one p {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding-top: 200px;
    font-size: 2.8em;
    color: white;
    line-height: 60px;
}
.random-wrapper {
    height: 50px;
}

.tri-wrapper {
    height: 600px;
    padding: 0;
    background-color: black;
}

.tri-div {
    height: 100%;
    width: 33%;
    border-top: 3px solid;
    border-bottom: 4px solid black;
    display: inline-block;
    vertical-align: top;
    -webkit-transition: width 2s;
    transition: width 2s;
    padding: 0;
    overflow: hidden;
}

.tri-div h2 {
    text-align: center;
    background-color: black;
    color: white;
    width: 60px;
    font-family: 'Rubik', sans-serif;
    font-size: 3em;
    -webkit-transition: width 2s;
    transition: width 2s;
}

.tri-div span {
    display: none;
    font-family: 'Rubik', sans-serif;
}

.tri-div p {
    text-align: center;
    font-size: 2em;
    margin-top: 10%;
    display: none;
    color: white;
    text-shadow: 1px 0 0 #D8D8D8, 0 -1px 0 #D8D8D8, 0 1px 0 #D8D8D8, -1px 0 0 #D8D8D8;
    font-family: 'Rubik', sans-serif;
}

.tri-div div {
    width: 80%;
    margin: auto;
    padding: 30px;
}

.tri-div-button-wrapper {
    text-align: center;
}
.tri-div-button {
    text-align: center;
    background-color: white;
    color: black;
    border: 2px solid white;
    opacity: .5;
    font-size: 2em;
    border-radius: 8px;
    -webkit-transition: font-size .2s; /* Safari */
    transition: font-size .2s;
    display: none;
    font-family: 'Rubik', sans-serif;
}

.tri-div-button:hover {
    font-size: 2.3em;
    opacity: .6;
}

.tri-div-button:active {
    position: relative;
    top: 2px;
}
#tri-div-one {
    background-image: url("http://www.worldnetworkofprayer.com/wp-content/uploads/2015/06/hpBox_PersonalPrayer.jpg");
    background-size: cover;
}

#tri-div-two {
    background-image: url("http://www.lifeclever.com/wp-content/uploads/2007/04/portfolio_3.jpg");
    background-size: cover;
}
#tri-div-three {
    background-image: url("https://www.bigquestionsonline.com/wp-content/uploads/2013/07/Communication-Technology-Civility-990x580.jpg");
    background-size: cover;
}

.testimonial-wrapper {
    height: 300px;

    padding-left: 35px;
    padding-right: 35px;
}

.testimony {
    text-align: center;
    margin-top: 70px;
    font-size: 2.3em;
    font-family: 'Rubik', sans-serif;
}

#testimony-author {
    font-size: .5em;
}

.welcome-icon-wrapper {
    height: 300px;
    border: 1px dotted;
}

.logo-div {
    height: 100px;
    padding-left: 8%;
}
.logo-div img {
    height: 80%;
    width: 165px;
}

#divider {
    height: 2px;
    width: 90%;
    border-bottom: 2px solid;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 50px;
}