<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12 welcome-wrapper-one">

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12 tri-wrapper">
            <div class="tri-div" id="tri-div-one">
                <h2 id="tri-div-one-title">M<span id="tri-div-one-title-extended">ission</span></h2>
                <div id="tri-div-one-description=wrapper">
                    <p id="tri-div-one-description">
                        Our singular focus is your success.  If you succeed, the Gospel goes forward and God is glorified.
                        We are thankful for the opportunity to play even a small role in any Kingdom initiative.
                    </p>
                </div>
            </div>
            <div class="tri-div" id="tri-div-two">
                <h2 id="tri-div-two-title">E<span id="tri-div-two-title-extended">xperience</span> </h2>
                <div id="tri-div-two-description-wrapper">
                    <p id="tri-div-two-description">
                        WMTEK offers more than 15 years of experience working with faith-based organizations to solve the
                        same challenges you may be facing today.  We understand organizations like yours, complete with all
                        of your complexities, before the engagement even begins.
                    </p>
                </div>
            </div>
            <div class="tri-div" id="tri-div-three">
                <h2 id="tri-div-three-title">S<span id="tri-div-three-title-extended">oftware</span></h2>
                <div id="tri-div-three-description-wrapper">
                    <p id="tri-div-three-description">
                        Site Stacker is a powerful unified platform for non-profit digital initiatives.  The four pillars
                        of the platform are world-class content management, best-of-class online fundraising, exclusive
                        worker recruiting tools with process automation, and a powerful cloud-based CRM.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 testimonial-wrapper">
            <p class="testimony">
                I truly value you and WMTek as a partner and I am so grateful that you are helping us. You all are a true blessing.
                You guys are rockstars! <br>
                <span id="testimony-author"> - Michael Davis, Marketing Campaigns Director, NAMB</span>
            </p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 welcome-icon-wrapper"></div>
        <div class="col-md-6 welcome-icon-wrapper"></div>
    </div>
</div>